
# ignoring custom configuration file
.env

# ignoring application directory
shiny-apps/
mysql-data/
renv-cache/

# exceptions for specific shiny-apps directories
!shiny-apps/001-hello/
!shiny-apps/082-word-cloud/

# ignoring media directory
django-data/shiny/media/

# project directory conf
.spyproject/
