
{% extends "base.html" %}

{% block title %}{{ shinyapp.title }}{% endblock title %}

{% block content %}

  <div class="container">
    <h1 class="mt-2">{{ shinyapp.title }}</h1>

    <p>{{ shinyapp.description }}</p>

    <a href="{{ shinyapp.location }}" target="_blank">View app in a new window</a>
  </div>

  <div class="container">
    <div class="embed-responsive embed-responsive-1by1">
      <iframe class="embed-responsive-item" src="{{ shinyapp.location }}"></iframe>
    </div>
  </div>

{% endblock content %}
