{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="mt-2">{{ title }}</h1>
  <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

  {# Check how translations works on django-templates #}
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">{% trans 'Log in again' %}</a>
    <a class="btn btn-info btn-lg" href="{% url 'home' %}" role="button">Back to Home</a>
  </p>
</div>
{% endblock content %}
