{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

{% if validlink %}

<div class="container my-5">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card shadow-lg">
				<div class="card-header text-center">
					<h4>{{ title }}</h4>
				</div>
				<div class="card-body text-center">
          <h3><i class="fa fa-lock-open fa-4x"></i></h3>
          <h2 class="text-center">Password Reset</h2>
          <p class="text-justify">
            Please enter your new password twice so we can
            verify you typed it in correctly:
          </p>

          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
										<i class="fas fa-key"></i>
									</div>
                </div>
                {% render_field form.new_password1|add_error_class:"is-invalid" class+="form-control" placeholder=form.new_password1.label %}
                {% if form.new_password1.errors %}
                <div class="invalid-feedback">
                  {{ form.new_password1.errors.0 }}
                </div>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
										<i class="fas fa-key"></i>
									</div>
                </div>
                {% render_field form.new_password2|add_error_class:"is-invalid" class+="form-control" placeholder=form.new_password2.label %}
                {% if form.new_password2.errors %}
                <div class="invalid-feedback">
                  {{ form.new_password2.errors.0 }}
                </div>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
							<button type="submit" name="change-submit" class="btn btn-primary btn-block"><i class="fas fa-key"></i></i> Change my password</button>
						</div>
          </form>

        </div>

			</div> <!-- CARD -->
		</div>
	</div>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
