[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    */migrations/*,
    */static/*,
    */media/*,
    .venv,
    venv,
    htmlcov,
per-file-ignores =
    __init__.py:F401
